---
import Layout from "../../layouts/Layout.astro"; // POZOR: v /pages/index.astro bude cesta "../layouts/Layout.astro"
---
<Layout title="Požičovňa náradia">
  <div class="wrap"><h1>Požičovňa náradia</h1></div>
</Layout>
<style>.wrap{max-width:1180px;margin:0 auto;padding:24px}</style>
